<html>
    <head>
        <title>Deepthi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Deepthi Blog</a></h1>
        </div>

        <div>
            <p>published: 15.02.2015, 01:50</p>
            <h2><a href="">My first post</a></h2>
            <p>Post description goes here</p>
        </div>

        <div>
            <p>published: 15.02.2015, 01:50</p>
            <h2><a href="">My second post</a></h2>
            <p>Post description goes here</p>
        </div>
    </body>
</html>
